# SPDX-FileCopyrightText: (C) 2024 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v2
description: Tenant Controller
name: app-orch-tenant-controller
version: 0.4.5-dev-7d1482c3
annotations:
  revision: ""
  created: ""
appVersion: "0.4.5-dev-7d1482c3"
