---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Go Fuzzing Tests

on:
  workflow_dispatch:
    inputs:
      run_tenant_controller:
        description: 'Run Tenant Controller fuzzing tests'
        required: false
        type: boolean
        default: true
      fuzz_seconds_tenant_controller:
        description: 'Duration per test case in secs. Total duration is secs x # of test cases'
        required: false
        type: number
        default: 60
  # Scheduled workflows will only run on the default branch. Input values from workflow_dispatch will be null when schedule event is triggered
  schedule:
    - cron: "0 0 * * 6"   # every week, at 00:00 on Saturday

permissions: {}

jobs:
  go-fuzz-tenant-controller:
    permissions:
      contents: read
    if: ${{ inputs.run_tenant_controller || github.event_name == 'schedule' }}
    name: Tenant Controller Go Fuzzing Tests
    uses: open-edge-platform/orch-ci/.github/workflows/apporch-go-fuzz.yml@467367d6f859a4654f2645ca78efd60035cf390c   # 2026.0.8
    with:
      # Declare 4800 secs duration since schedule event will not pick up input values from workflow_dispatch
      fuzz_seconds: ${{ fromJSON(inputs.fuzz_seconds_tenant_controller || 4800) }}
      test_data_dir: ./internal/nexus/testdata/fuzz
